@using Hooshmand.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-page="/index" class="m-2 logo d-flex align-items-center">
                <span class="d-none d-lg-block">هوشمند سازان ساجد</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item pe-4">
                    <form method="post">
                        <button asp-page="/index" asp-page-handler="ExitSubmit" class="btn btn-danger">ثبت خروج</button>
                    </form>
                </li>

                <li class="nav-item pe-4">
                    <form method="post">
                        <button asp-page="/index" asp-page-handler="EnterSubmit" class="btn btn-primary">ثبت ورود</button>
                    </form>
                </li>

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@currentUser.UserName</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@currentUser.FullName</h6>
                            <span>@currentUser.Job</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-page="/index">
                                <i class="bi bi-person"></i>
                                <span>پروفایل</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button class="dropdown-item d-flex align-items-center">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>خروج</span>
                                </button>
                            </form>
                        </li>

                    </ul>
                </li>

            </ul>
        </nav>

    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" asp-page="/index">
                    <i class="bi bi-grid"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>کاربران</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp asp-page="/users/index">
                            <i class="bi bi-circle"></i><span>لیست کاربر ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/users/usertimereport">
                            <i class="bi bi-circle"></i><span>گزارش ورود و خروج</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/index">
                            <i class="bi bi-circle"></i><span>سطوح دسترسی</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-card-list"></i><span>گزارش کار روزانه</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="work-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp asp-page="/Tasks/DailyTasks/Index">
                            <i class="bi bi-circle"></i><span>لیست گزارشات</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Tasks/DailyTasks/Create">
                            <i class="bi bi-circle"></i><span>افزودن گزارش کار جدید</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#phones-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-envelope"></i><span>دفترچه تلفن</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="phones-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp asp-page="/PhoneBook/Index">
                            <i class="bi bi-circle"></i><span>لیست مخاطبین</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/PhoneBook/Create">
                            <i class="bi bi-circle"></i><span>افزودن شماره تماس جدید</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </aside>

    <!-- End Sidebar-->
}