@page
@model Hooshmand.Pages.PhoneBook.CreateModel

@{
    ViewData["Title"] = "افزودن مخاطب جدید";
}

<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">مخاطب جدید</h5>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="PhoneBooks.FullName" class="control-label"></label>
                        <input asp-for="PhoneBooks.FullName" class="form-control" />
                        <span asp-validation-for="PhoneBooks.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="PhoneBooks.Company" class="control-label"></label>
                        <input asp-for="PhoneBooks.Company" class="form-control" />
                        <span asp-validation-for="PhoneBooks.Company" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="PhoneBooks.JobPosition" class="control-label"></label>
                        <input asp-for="PhoneBooks.JobPosition" class="form-control" />
                        <span asp-validation-for="PhoneBooks.JobPosition" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="PhoneBooks.UnitPosition" class="control-label"></label>
                        <input asp-for="PhoneBooks.UnitPosition" class="form-control" />
                        <span asp-validation-for="PhoneBooks.UnitPosition" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="PhoneBooks.InternalNumber" class="control-label"></label>
                        <input asp-for="PhoneBooks.InternalNumber" class="form-control" />
                        <span asp-validation-for="PhoneBooks.InternalNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="PhoneBooks.Decription" class="control-label"></label>
                        <input asp-for="PhoneBooks.Decription" class="form-control" />
                        <span asp-validation-for="PhoneBooks.Decription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="افزودن مخاطب" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">شماره تماس ها</h5>
                    <div class="form-group" id="phonesRow">
                        <input type="hidden" id="totalPhones" value="1" />
                        <label class="control-label d-block">شماره تماس</label>
                        <input type="tel" name="[0].PhoneNumber" class="form-control d-inline-block mb-2" style="width:92%;" />
                        <button id="addPhoneRow" type="button" class="btn btn-info">+</button>
                    </div>
                    <div class="form-group mb-2" id="faxRow">
                        <input type="hidden" id="totalfax" value="1" />
                        <label class="control-label d-block">فکس</label>
                        <input type="tel" name="[0].Fax" class="form-control d-inline-block mb-2" style="width:92%;" />
                        <button id="addFaxRow" type="button" class="btn btn-info">+</button>
                    </div>
                    <div class="form-group mb-2" id="emailRow">
                        <input type="hidden" id="totalemails" value="1" />
                        <label class="control-label d-block">ایمیل</label>
                        <input type="email" name="[0].Email" class="form-control d-inline-block mb-2" style="width:92%;" />
                        <button id="addEmailRow" type="button" class="btn btn-info">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
